.auth-block{
    margin: 90px auto 50px;
    width: 40%;
    height: 50%;
    text-align: center;
    border-radius: 25px;
    /*background: rgb(131,58,180);*/
    /*background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);*/
    background: #dbd9d9;
    /*box-shadow: 5px 5px 5px 0 rgb(121, 120, 120);*/
    box-shadow: 0 0 7px rgb(55, 64, 64);

}

.auth-block input[type=text] {
    font-size: large;
    width: 60%;
    padding: 12px 20px;
    margin:3%  20% 3% 20%;
    box-sizing: border-box;
    border-radius: 20px;
    transform: initial;
    transition: all 0.3s;
}

.auth-block input[type=text]:focus {
    transform: scale(1.05, 1.05);
    transition: all 0.2s;
    border: 2px solid blue;
}

.auth-block input[type=password] {
    font-size: large;
    width: 60%;
    padding: 12px 20px;
    margin:3%  20% 3% 20%;
    box-sizing: border-box;
    border-radius: 20px;
    transform: initial;
    transition: all 0.3s;
}

.auth-block input[type=password]:focus {
    transform: scale(1.05, 1.05);
    transition: all 0.2s;
    border: 2px solid blue;
}

.auth-block label{
    font-size: xx-large;
    width: 100%;
}


.auth-block input[type=button]{
    width: 60%;
    margin: 20px 40px 40px 40px;
    transform: initial;
    background-color: #878a8a;
    border: 0;
    transition: all 0.3s;
    padding: 10px;
    border-radius: 20px;
    font-size: large;
    color: white;
}

.auth-block input[type=button]:hover:enabled{
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
    background-color: #4d4e4e;
    color: white;
}


.auth-block h1 {
    margin: 20px;
    font-size: 40px;
    font-family: "Yu Gothic UI Light", serif;
}
.checkbox-label{
    font-size: x-large;
    margin: 0 auto;
}

.auth-error{
    color: red;
    font-size: large;
    margin-top: 10px;
}