body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.detail {
    width: 1000px;
    height: 400px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0 0 7px rgb(55, 64, 64);
}

.anchor{
    /* scroll-snap-align: start; */
    height: 80px;
}

.detail .detail-card {
    display:inline-block;
    position: relative;
    float: left;
    width: 40%;
    background-color: #e0dede;
    border-radius: 20px 0 0 20px;
    height: 100%;

    align-items: center;
    text-align: center;
    /*padding: 10px;*/

}

.info-section{
    font-size: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: green;
    display: flex;
    margin-left: 10px;
}

.detail-card h3{
    font-size: 30px;
    color: darkslategrey;
    margin-top: 10px;
    font-family: CHICAGO, serif;
}

.detail-card img{
    height: 200px;
}

.detail .detail-card .rate{
    width: 60%;
    background-color: greenyellow;
    border-radius: 10px;
    margin: 5%  auto 0;
    text-align: center;
    padding: 3%;
}

.detail .detail-info{
    border-radius:0  20px  20px 0 ;
    display:inline-block;
    background-color: #4a4a4a;
    position: relative;
    width: 60%;
    height: 100%;
    float: right ;
    text-align: center;

}

.detail .detail-info p{
    font-size: 30px;
    color: white;
    margin: 10px 5px;
    font-family: CHICAGO, serif;
}

.description{
    text-align: center;
    width: 1000px;
    border-radius: 25px;
    background-color: #e0dede;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 0 7px rgb(55, 64, 64);
    font-family: CHICAGO, serif;
    font-size: larger;
}
.description h1{
    margin: 0 auto;
}
.comments{
    background-color: #e0dede;
    margin: 20px auto;
    width: 1000px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0 7px rgb(55, 64, 64);
    font-family: CHICAGO, serif;
    font-size: larger;
}

textarea{
    border-radius: 25px;
    margin: 25px;
    padding: 10px;
    width: 900px;
    height: 100px;
    resize: none;
}

input[type=submit]{
    width: 20%;
    margin-top: 0;
    margin-bottom: 10px;
    transform: initial;
    background-color: #878a8a;
    border: 0;
    transition: all 0.3s;
    padding: 10px;
    border-radius: 20px;
    font-size: large;
}

input[type=submit]:hover{
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
    background-color: #4d4e4e;
    color: white;
}


.comment{
    margin: 10px;
}

.author {
    display: block;
    font-size: 1.5rem;
    color: #000;
    font-weight: 700;
}
.metadata {
    display: block;
    color: #000;
    font-size: 1rem;
}
.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0,0,0,.87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34,36,38,.15);
}

.comment-text{
    margin-bottom: 5px;
    margin-top: 5px;
}

.comment img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.delete-comment{
    width: 100px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: initial;
    background-color: red;
    border: 0;
    transition: all 0.3s;
    color: white;
    border-radius: 20px;
}
.delete-comment:hover{
    transform: scale(1.1, 1.1);
    transition: all 0.3s;
    background-color: #7e0a0a;
    color: white;
}

/* STAR RATING */
.star-rating {
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color: #FBB03B;
    height: 20px;
    width: 100px;
    margin: 10px auto;
}

.star-rating-icon {
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: white;
}

.star-rating-icon:last-child {
    padding-left: 0;
}

.star-rating-input {
    display: none;
}

.star-rating-icon:hover:before,
.star-rating-icon:hover ~ .star-rating-icon:before,
.star-rating-input:checked ~ .star-rating-icon:before {
    color: yellow;
}

/* STAR RATING END */

.mark-label{
    font-size: large;
    font-family: CHICAGO, serif;
    margin: 20px auto;
}