.bg {
    scroll-snap-align: start;
    /* The image used */
    background-image: url("https://sun9-5.userapi.com/impg/rn5TFWu3scG-U1M7Lgr5yvn157EwFqdxhTaCoQ/wRpZfHLgiqs.jpg?size=1440x900&quality=96&proxy=1&sign=b8fcd4d2e4a687fa21c94eff3dc4514e&type=album");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    scroll-snap-align: start;
    scroll-behavior: smooth;
    padding-top: 80px;
}

.content h1{
    text-align: center;
    font-family: "Yu Gothic UI Light", serif;
    font-size: xx-large;
}

/* PRODUCT CARDS STYLES*/
.products{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px );
    column-gap: 50px;
    row-gap: 50px;
    height: 100%;
    padding: 0 70px;
    margin-bottom: 30px;
}

.card{
    position: relative;
    z-index: 0;
    height: 300px;
    background-color: #cac6c6;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*text-align: center;*/
    /*padding: 10px;*/
    transition: all 0.1s;
    box-shadow: 0 0 7px rgb(55, 64, 64)
}

.card:hover{
    transform: scale(1.02, 1.02);
}

.card h3{
    position: relative;
    top: 0;
    margin: 10px;
    white-space: nowrap;
    font-size: 30px;
    color: white;
}

.card-image{
    width: 80%;
    height: 60%;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

body{
    background-color: white;
}

@media screen and (max-width: 600px){
    body {
        background-color: green;
    }
}
/* END PRODUCT CARDS STYLES*/
