body, html {
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
}
/* HEADER STYLES*/
.header {
    z-index: 1;
    vertical-align: middle;
    position: fixed;
    height: 80px;
    line-height: 80px;
    width: 100%;
    top: 0;
    text-align: center;
    transition: all 0.4s;
}

.header a{
    margin-right: 10px;
    font-size: xx-large;
    display: inline-block;
    color: white;
    text-decoration: none;
    letter-spacing: normal;
    transition: all 0.3s ease-in;
}

.header a:hover{
    color: bisque;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}
/* END HEADER STYLES*/

/* FOOTER STYLES*/
.footer {
    scroll-snap-align: start;
    width: 100%;
    overflow: hidden;
    background-color: black;
    text-align: center;
}

.footer .about, .contacts, .info h3{
    color: white;
}

.footer .about, .info, .contacts p{
    color: white;
    margin: auto;
}

.footer .about{
    float: left;
    display:inline-block;
    position:relative;
    width:calc(100% / 3);
}

.footer .info{
    float: left;
    display:inline-block;
    position:relative;
    width:calc(100% / 3);
}

.footer .contacts{
    float: right;
    display:inline-block;
    position:relative;
    width:calc(100% / 3);
}

.footer .info .info-img{
    width: 100px;
    height: 100px;
    margin: auto;
}

.footer .info .info-img img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
/* END FOOTER STYLES*/

/* LOGOS STYLES*/
.logos{
    width: 100%;
    overflow: hidden;
    margin-left: calc(100%/9);
    margin-top: calc(100%/18);
}

.logo{
    float: left;
    display:block;
    position:relative;
    width:calc(100% /9);
    height: calc(100%/9);
    margin-left: calc(100%/9);
}

.logo img{
    transition: all 0.3s;
    object-fit: scale-down;
    width: 80%;
    height: 80%;
}

.logo img:hover {
    transition: all 0.1s;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}
/* END LOGOS STYLES*/

/* RATE BLOCK STYLES*/
.rate{
    width: 60%;
    height: 10%;
    background-color: greenyellow;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    padding: 3%;
}

.rate .fa{
    font-size: 25px;
    color: white;

}
.rate .checked{
    color: orange;
}
/* END RATE BLOCK STYLES*/
