body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* HEADER STYLES*/
.header {
    background-color: black;
    z-index: 1;
    vertical-align: middle;
    position: fixed;
    height: 80px;
    line-height: 80px;
    width: 100%;
    top: 0;
    text-align: center;
    transition: all 0.4s;
}

.user-login{
    text-align: right;
    display: none;
    margin-right: 10px;
    font-size: large;
    color: white;
    letter-spacing: normal;
    position: absolute;
    right: 55px;

}

.user-login-img{
    width: 50px;
    height: 50px;
    display: none;
    top: 15px;
    right: 5px;
    position: fixed;
    border-radius: 50%;
    object-fit: cover;
}

.nav-link{
    margin-right: 10px;
    font-size: xx-large;
    color: white;
    text-decoration: none;
    letter-spacing: normal;
    transition: all 0.3s ease-in;
    display: none;
}

.nav-link:hover{
    color: bisque;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}
/* END HEADER STYLES*/

/* FOOTER STYLES*/
.footer {
    /* scroll-snap-align: start; */
    width: 100%;
    overflow: hidden;
    background-color: black;
    text-align: center;
    margin-bottom: 0;
    flex-shrink: 0;
    display: flex;
}

.footer .about, .contacts, .info h3{
    color: white;
}

.footer .about, .info, .contacts p{
    color: white;
    margin: auto;
}

.footer .about{
    float: left;
    display:inline-block;
    position:relative;
    width:calc(100% / 3);
}

.footer .info{
    float: left;
    display:inline-block;
    position:relative;
    width:calc(100% / 3);
}

.footer .contacts{
    float: right;
    display:inline-block;
    position:relative;
    width:calc(100% / 3);
}

.footer .info .info-img{
    width: 100px;
    height: 100px;
    margin: auto;
}

.footer .info .info-img img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
/* END FOOTER STYLES*/

/* LOGOS STYLES*/
.logos{
    width: 100%;
    overflow: hidden;
    margin-left: 20px;
}

.logo{
    float: left;
    display:block;
    position:relative;
    width:calc(100% /9);
    height: calc(100%/9);
    margin-left: calc(100%/9);
}

.logo img{
    transition: all 0.3s;
    object-fit: scale-down;
    width: 80%;
    height: 80%;
}

.logo img:hover {
    transition: all 0.1s;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}
/* END LOGOS STYLES*/

/* RATE BLOCK STYLES*/
.rate{
    width: 60%;
    height: 10%;
    background-color: greenyellow;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    padding: 3%;
}

.fa {
    font-size: 25px;
    color: white;

}

.checked {
    color: yellow;
}

.grid-item-rating {
    background-color: #FBB03B;
    border-radius: 15px;
    padding: 7px;
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: center;
}

/* END RATE BLOCK STYLES*/

.anchor{
    /* scroll-snap-align: start; */
    height: 80px;
}

@media all and  (max-device-width: 768px) {

    body, html{
        scroll-snap-type: none;
    }

    .footer{
        scroll-snap-type: none;
    }

    .footer .about {
        width: 100%;
        margin: 0 auto;
    }

    .footer .info {
        width: 100%;
    }

    .footer .contacts {
        width: 100%;
        margin-bottom: 100px;
    }

    .logo{
        float: left;
        display:block;
        position:relative;
        width:calc(100% /5.4);
    }

    .logos{
        margin: 0 auto;
    }
}

.search-field {
    border: 0 none;
    background:#ccc;
    color: #6a6f75;
    width: 250px;
    margin: 0 40% 25px 40%;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
}

.forbidden{
    margin: 160px auto;
    text-align: center;
}

.forbidden h1{
    font-size: 100px;
    font-family: Impact, serif;
    margin-bottom: 0;
}

.forbidden h2{
    font-size: 40px;
    font-family: Impact, serif;
    margin-top: 0;
    margin-bottom: 5px;
}

.forbidden a{
    font-size: 15px;
    font-family: Impact, serif;
    margin-top: 0;
    margin-bottom: 5px;
    text-decoration: none;
    color: #4a4a4a;
    transition: all 0.3s;
    letter-spacing: initial;
}

.forbidden a:hover{
    font-size: 15px;
    font-family: Impact, serif;
    margin-top: 0;
    margin-bottom: 5px;
    text-decoration: none;
    color: #4a4a4a;
    letter-spacing: 2px;
}

.not-found{
    margin: 70px 730px;
    font-family: Impact, serif;
    font-size: x-large;
}