body, html {
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
}

.bg {
    scroll-snap-align: start;
    /* The image used */
    background-image: url("https://sun9-5.userapi.com/impg/rn5TFWu3scG-U1M7Lgr5yvn157EwFqdxhTaCoQ/wRpZfHLgiqs.jpg?size=1440x900&quality=96&proxy=1&sign=b8fcd4d2e4a687fa21c94eff3dc4514e&type=album");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    /*background-color: black;*/
    vertical-align: middle;
    position: fixed;
    height: 80px;
    line-height: 80px;
    width: 100%;
    top: 0;
    text-align: center;
}

.header a{
    margin-right: 10px;
    font-size: xx-large;
    display: inline-block;
    color: white;
    text-decoration: none;
    letter-spacing: normal;
    transition: all 0.3s ease;
}

.header a:hover{
    color: bisque;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.content {
    scroll-snap-align: start;
    padding-top: 80px;
}

.content h1{
    text-align: center;
    font-family: "Yu Gothic UI Light", serif;
    font-size: xx-large;
}

.footer {
    scroll-snap-align: start;
    width: 100%;
    overflow: hidden;
    background-color: black;
    text-align: center;
}

.footer .about, .contacts, .info h3{
    color: white;
}
.footer .about, .info, .contacts p{
    color: white;
    margin: auto;
}

.footer .about{
    float: left;
    display:inline-block;
    position:relative;
    width:calc(100% / 3);
}

.footer .info{
    float: left;
    display:inline-block;
    position:relative;
    width:calc(100% / 3);
}

.footer .contacts{
    float: right;
    display:inline-block;
    position:relative;
    width:calc(100% / 3);
}
.footer .info .info-img{
    width: 100px;
    height: 100px;
    margin: auto;
}
.footer .info .info-img img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}


.logos{
    width: 100%;
    overflow: hidden;
    margin-left: calc(100%/9);
    margin-top: calc(100%/18);
}
.logo{
    float: left;
    display:block;
    position:relative;
    width:calc(100% /9);
    height: calc(100%/9);
    margin-left: calc(100%/9);
}


.logo img{
    transition: all 0.3s;
    object-fit: scale-down;
    width: 80%;
    height: 80%;
}

.logo img:hover {
    transition: all 0.1s;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

