<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cocktails bar</title>
    <!-- Firebase imports -->
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-database.js"></script>
    <!---------------------->

    <!-- Templates imports -->
    <script rel="script" src="../js/templates/index.js"></script>
    <script rel="script" src="../js/templates/login.js"></script>
    <script rel="script" src="../js/templates/create.js"></script>
    <script rel="script" src="../js/templates/register.js"></script>
    <script rel="script" src="../js/templates/detail.js"></script>
    <script rel="script" src="../js/templates/ingredientInput.js"></script>
    <!---------------------->

    <!-- Styles imports -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/auth.css">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="../css/create.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!---------------------->

    <!-- Scripts imports -->
    <script rel="script" src="../js/MD5.js"></script>
    <script rel="script" src="../js/auth.js"></script>
    <script rel="script" src="../js/Firebase/Storage.js"></script>
    <script rel="script" src="../js/Models/Ingredient.js"></script>
    <script rel="script" src="../js/Models/Cocktail.js"></script>
    <script rel="script" src="../js/main.js"></script>
    <script rel="script" src="../js/detail.js"></script>
    <script rel="script" src="../js/create.js"></script>
    <script rel="script" src="../js/site.js"></script>

    <!---------------------->

    <!-- Models imports -->
    <script rel="script" src="../js/Models/Comments.js"></script>
    <script rel="script" src="../js/Models/Cocktail.js"></script>
    <script rel="script" src="../js/Models/Ingredient.js"></script>
    <!---------------------->


    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>

<nav class="header" id="header">
    <a router-link="/index" class="nav-link" data-link="ajax" id="index-link">Home</a>
    <a router-link="/login" class="nav-link" data-link="ajax" id="login-link">Login</a>
    <a router-link="/register" class="nav-link" id="sign-up-link">Sign up</a>
    <a class="nav-link" id="log-out-link" onclick="logoutFunction()">Log out</a>
    <a router-link="/create" class="nav-link" id="create-link">Create</a>
    <img  src="https://www.freeiconspng.com/uploads/flat-face-icon-23.png" id="user-login-img" class="user-login-img" alt=""/>
    <div id="user-welcome-label" class="user-login"></div>
</nav>

<section id="root">

</section>

<footer class="footer">
    <section class="info">
        <h3>Logo</h3>
        <div class="info-img">
            <img alt="Background picture"
                 src="https://image.shutterstock.com/image-vector/cocktail-party-neon-signboard-vector-600w-741016435.jpg"/>
        </div>

        <div class="copyrights"><p>© 2021. All rights reserved</p></div>

    </section>

    <section class="about">
        <h3>About us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>

    <section class="contacts">
        <h3>Contact us</h3>
        <section class="logos">
            <figure class="logo">
                <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/dxn__bnldn">
                    <img alt="Instagram picture"
                         src="https://seeklogo.com/images/I/instagram-new-2016-logo-D9D42A0AD4-seeklogo.com.png">
                </a>
                <figcaption>Instagram</figcaption>
            </figure>

            <figure class="logo">
                <a target="_blank" rel="noopener noreferrer" href="https://vk.com/lbn228">
                    <img alt="Vkontakte picture"
                         src="https://cdn.icon-icons.com/icons2/535/PNG/512/VK-Icon_icon-icons.com_52860.png">
                </a>
                <figcaption>VK</figcaption>
            </figure>

            <figure class="logo">
                <a target="_blank" rel="noopener noreferrer" href="https://vk.com">
                    <img alt="Gmail picture"
                         src="https://seeklogo.com/images/G/gmail-new-2020-logo-32DBE11BB4-seeklogo.com.png">
                </a>
                <figcaption>Gmail</figcaption>
            </figure>
        </section>
    </section>

</footer>


</body>
<html>