<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/auth.css">
    <script src="https://www.gstatic.com/firebasejs/live/3.1/firebase.js"></script>
    <script rel="script" src="../js/auth.js"></script>
    <script rel="script" src="../js/site.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div class="auth-block">
    <h1>Sign in</h1>

    <form enctype="multipart/form-data">
        <label for="login">Login</label>
        <input type="text" id="login" name="login" placeholder="Login"/>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" placeholder="Password"/>
        <label for="repeat_password">Repeat password</label>
        <input type="text" id="repeat_password" name="repeat_password" placeholder="Repeat password"/>
        <input type="checkbox" id="rules_agreement" name="agreement" onclick="checkboxClicked()"/>
        <label for="rules_agreement" class="checkbox-label">I agree with rules</label>
        <div class="auth-error" id="errorField"></div>
        <input type="button" value="Sign up" id="sign_button" disabled onclick="registerFunction()">
    </form>
</div>
</body>

</html>